<phpunit>
    <testsuites>
        <testsuite name="tvheadend-status-manager">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/cli</directory>
            <exclude>
                <directory suffix=".php">src/cli/Database/Base</directory>
                <directory suffix=".php">src/cli/Database/Map</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
