#
# The address to listen on
#
listen_address: 0.0.0.0

#
# The port the WebSocket server should listen on
#
listen_port: 9333

#
# The port the HTTP server should listen on
#
http_listen_port: 8080

#
# The username required to use the web interface
#
http_username: admin

#
# The password required to use the web interface
#
http_password: admin

#
# The path to the database file, either absolute or relative to the 
# location of the application itself
#
database_path: ./app/database.sqlite

#
# The path to the log file, either absolute or relative to the 
# location of the application itself
#
log_path: ./app/tvheadend-status-manager.log

#
# The polling frequency (in seconds).
#
update_interval: 1

#
# The instances to monitor. The key is the name of the instance while 
# the value is a dictionary of options for the instance.
#
instances:
  "first":
    address: example.com
    port: 9981
    username: admin
    password: admin
    #ignoredUsers:
    #  - someone
      
  "another":
    address: another.example.com
    port: 9981
    username: admin
    password: "???"

#
# The access token required by clients connecting to the server
#
access_token: longrandomstring
